/*
cream #ebdcc7
red #a83429
blue #292847
gray #847a71

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*/

body {
            animation: fadeInAnimation ease 1.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            background-color: #ebdcc7;
            display: flex;
        }
@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        
        }


nav {
    background: #292847;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    width: 100%;
    height: 178px;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #a83429;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    z-index: 1000;
}

.logo {
    width: 80%;
    max-width: 117px;
    background-color: #ebdcc7;
    border: 7px solid #ebdcc7;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #847a71;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding-left: 10%;
    padding-right: 10%;
}

.link:hover {
    color: #a83429;
}

.link.active {
    color: #a83429;
}

.sidebar {
    width: 10%;
    height: 100%;
    max-width: 360px;
    background-image: url("plaid.png");
    background-repeat: repeat;
    background-size: 40%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.gallery {
    width: 100%;
    padding-left: 20%;
    padding-top: 15%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 30%;
    padding: 0 4px;
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 80%;
  border: dashed #a83429 2px;
}

.container {
  position: relative;
  width: fit-content;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 80%;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  opacity: 0;
  margin-top: 40px;
  transition: .5s ease;
  background-color: #292847;
}

.container:hover .overlay {
  opacity: 1;
  width: 82%;
}

.text {
  color: #ebdcc7;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.textsmall {
  color: #ebdcc7;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
}

.textbox {
  text-align: center;
  margin-top: 50%;
  width: 75%;
}

.project {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
    max-width: 1440px;
    padding-top: 168px;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 2;
}

.white {
    background-color: white;
}

#loader {
  background: #a83429;
  width: 148px;
  height: 148px;
  position: relative;
  text-align: center;
  animation: 3s rotate linear infinite;
  margin-top: 450px;
  margin-left: 45%;
  z-index: 900;
}
#loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #292847;
  animation: 1.5s rotate reverse linear infinite ;
  z-index: 900;
}
@keyframes rotate {
  0%{    transform: rotate(0deg)}
  100%{    transform: rotate(360deg)}
}

.fishbg {
  position: fixed;
  inset: 0;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 950px;
  z-index: -1;
}

.title {
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  font-family: "DotGothic16", sans-serif;
  font-size: 130%;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

.blurb {
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 120%;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

.mag {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
    max-width: 1440px;
    padding-top: 168px;
    text-align: center;
    z-index: 2;
}